# Dependencias de Node
backend/node_modules/
backend/npm-debug.log

# Entornos virtuales de Python
backend/venv/
backend/__pycache__/

# Archivos de SO
.DS_Store
Thumbs.db

# Arhivo de Datos .env
.env